.image {
	background: url("https://wallpaperscraft.com/image/skis_snow_sport_106507_1920x1080.jpg");
   position: fixed;
    z-index: -1;
    opacity: .5;
    background-size: cover;
    height: 100%;
    width: 100%
}
.card{
    box-shadow: none;
	background: no-repeat;
	position: fixed;
	top:50%;
	left:30%;
    background: thistle;
    border-radius: 14px;
}
#buttonLogin{
    background: slategrey;
}

