.hamberger{
	position: absolute;
	top:20px;
	left:20px;
}
.app-content{
	background: url('http://www.discovery.uk.com/images/courses/personal-trainer-courses-min.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}