<div id="main container">
<!-- <body background="http://1.bp.blogspot.com/-BxzHv1At-k4/UQMyzvoh7hI/AAAAAAAAABU/MAh_DiHuI38/s1600/fitness.jpg"> -->
 <div class="header">
	<a href="/"></a>
</div>	
<!-- </body>  -->
</div>
<!-- <div>
  <app-stream-box></app-stream-box>
</div>
<div>
	<app-leader-box></app-leader-box>
</div>
<div>
	<app-out-box></app-out-box>
</div> 
<div>
 <nav>
    <a routerLink="/home" routerLinkActive="active">login</a> 
    <a routerLink="/login" routerLinkActive="active">login</a>
  </nav>
  <router-outlet></router-outlet>
</div>  -->
<div id="subcontainer">
	<a routerLink="/login" routerLinkActive="active">login</a>
	<router-outlet></router-outlet>
</div>

