.choose {
	background: url("https://wallpaperscraft.com/image/start_run_man_athlete_79982_1920x1080.jpg");
   position: fixed;
    z-index: -1;
    opacity: .5;
    background-size: cover;
    height: 100%;
    width: 100%
}
